app/src/main/resources/ServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://provider.homework2.rpc.csc3374.sse.aui.ma/" name="ServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://provider.homework2.rpc.csc3374.sse.aui.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://provider.homework2.rpc.csc3374.sse.aui.ma/" schemaLocation="ServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="reboot">
    <part name="parameters" element="tns:reboot"/>
  </message>
  <message name="rebootResponse">
    <part name="parameters" element="tns:rebootResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="getOsName">
    <part name="parameters" element="tns:getOsName"/>
  </message>
  <message name="getOsNameResponse">
    <part name="parameters" element="tns:getOsNameResponse"/>
  </message>
  <message name="getScreenShot">
    <part name="parameters" element="tns:getScreenShot"/>
  </message>
  <message name="getScreenShotResponse">
    <part name="parameters" element="tns:getScreenShotResponse"/>
  </message>
  <portType name="ServiceImpl">
    <operation name="reboot">
      <input wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/rebootRequest" message="tns:reboot"/>
      <output wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/rebootResponse" message="tns:rebootResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/reboot/Fault/Exception"/>
    </operation>
    <operation name="getOsName">
      <input wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/getOsNameRequest" message="tns:getOsName"/>
      <output wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/getOsNameResponse" message="tns:getOsNameResponse"/>
    </operation>
    <operation name="getScreenShot">
      <input wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/getScreenShotRequest" message="tns:getScreenShot"/>
      <output wsam:Action="http://provider.homework2.rpc.csc3374.sse.aui.ma/ServiceImpl/getScreenShotResponse" message="tns:getScreenShotResponse"/>
    </operation>
  </portType>
  <binding name="ServiceImplPortBinding" type="tns:ServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="reboot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getOsName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getScreenShot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServiceImplService">
    <port name="ServiceImplPort" binding="tns:ServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

